h1{
    font-family:'Comic Sans MS', cursive;
}

.card {
    display: flex;
    font-family:'Comic Sans MS', cursive;
}

.black{
    color: black;
    padding: 10px;
    font-size: 60px;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.182);
}

.red{
    color: red;
    padding: 10px;
    font-size: 60px;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.182);
}